@{
    ViewData["Title"] = "Todo List";
}

<h1 class="mt-3 mb-4">Todo List</h1>

<button class="btn btn-primary mb-3">Add Task</button>

<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th style="width: 10%;">STT</th>
            <th style="width: 60%;">Task</th>
            <th style="width: 30%;">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ôn tập HTML</td>
            <td>
                <a class="btn btn-warning me-1">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ôn tập CSS</td>
            <td>
                <a class="btn btn-warning me-1">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ôn tập Bootstrap</td>
            <td>
                <a class="btn btn-warning me-1">Edit</a>
                <a class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
